h1 {
  text-align: center;
  text-decoration: underline;
}
img {
  border-radius: 5px;
}
.box {
  padding: 10px 20px;
  background-color: white;
}
.readbtn {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
}
.readbtn:hover {
  color: var(--primary-color);
}
.box h5 {
  font-size: 15px;
}
.heading {
  font-weight: bold;
  color: var(--primary-color);
}
