<div class="container-fluid mt-5">
  <!-- <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div *ngFor="let tech of techNews" class="carousel-item active">
        <img
          src="{{ tech.urlToImage }}"
          class="w-100"
          alt="{{ tech.urlToImage }}"
        />
      </div>
      <div *ngFor="let tech of techNews" class="carousel-item active">
        <img src="{{ tech.urlToImage }}" class="w-100" alt="..." />
      </div>
      <div *ngFor="let tech of techNews" class="carousel-item">
        <img src="{{ tech.urlToImage }}" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
  <div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

  <div class="row">
    <h1>Latest Tech News</h1>
    <div *ngFor="let tech of techNews" class="col-lg-3 mt-2 mb-1">
      <div class="box">
        <h5 class="heading">{{ tech.title }}</h5>
        <img src="{{ tech.urlToImage }}" width="100%" />
        <h6 class="mt-4 mb-3">{{ tech.description }}</h6>
        <a href="{{ tech.url }}" target="_blank" class="readbtn btn-sm"
          >Read more..</a
        >
      </div>
    </div>
  </div>
</div>
