<app-navbar>
  <img
    src="https://images.unsplash.com/photo-1545132147-d037e6c54cfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zmx5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
    width="150px"
    height="90px"
    class="d-none d-md-block d-lg-block"
  />
  <h6
    class="d-none d-md-block d-lg-block"
    style="color: white; font-style: italic"
  >
    the sky is the limit
  </h6>
</app-navbar>

<router-outlet
  ><ngx-loading-bar color="red" height="4px" diameter="30"></ngx-loading-bar
></router-outlet>
<app-footer></app-footer>
